<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=foundDepartment.name%> </title>
</head>
<body>
    <h1><%=foundDepartment.name%></h1>
    <h3>Code: <%= foundDepartment.code %> </h3>
    <h3>About:</h3>
        <%= foundDepartment.about %>
        <br>
    <a href="/departments">Back</a><br>
    <a href="/employees/<%=foundDepartment.code%>">Employee Details</a>
</body>
</html>