<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <h1>List:</h1>
    <form action="/employees/<%=code%>" method="post">
        <label for="position">Filter by Position:</label>
        <select name="position" id="position">
            <option value="all">All</option>
            <%for (let post of department.consists){%>
                <option value="<%=post%>"><%=post%></option>
            <%}%>
        </select>
        <br>
        <label for="age">Filter by Age: </label>
        <select name="condition" id="age">
            <option value="all">All</option>
            <option value="gte">Greater than</option>
            <option value="lte">Lesser than and equal to</option>
        </select>
        <input type="Number" id="age" placeholder="Type the age" name="age">
        <br>
        <button>Filter</button>
    </form>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>SSN</th>
                <th>Employee Name</th>
                <th>D.O.B.</th>
                <th>Age</th>
                <th>Email ID</th>
                <th>Position</th>
                <th>Address</th>
                <th>Salary in &#8377</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%for(employee of employees){%>
                <tr>
                    <td><%= employee.ssn %></td>
                    <td><%= employee.name %></td>
                    <td><%= employee.dob %></td>
                    <td><%= 2022 - employee.dob.getFullYear() %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.position %></td>
                    <td><%= employee.address %></td>
                    <td><%= employee.salary %> </td>
                    <td><a href="/employees/edit/<%=employee.ssn%>">Edit</a></td>
                    <td><form action="/employees/<%=employee._id%>?_method=DELETE" method="POST"><button>Delete</button></form></td>
                </tr>
            <%}%>
        </tbody>
        
    </table>
    <form action="/departments" method="post">
        <button>Back to Departments</button>
    </form>
    <form action="/" method="get">
        <button>Login Page</button>
    </form>
    <form action="/employees/<%=code%>/new" method="get">
        <button>Add employee</button> 
    </form>
</body>
</html>
