    <% layout('layouts/boilerplate') %> 
    <section>
        <form action="/employees/<%=code%>" method="post">
            <label for="position">Filter by Position:</label>
            <select name="position" id="position">
                <option value="all">All</option>
                <%for (let post of department.consists){%>
                    <option value="<%=post%>"><%=post%></option>
                <%}%>
            </select>
            <br>
            <label for="age">Filter by Age: </label>
            <select name="condition" id="age">
                <option value="all">All</option>
                <option value="gte">Greater than</option>
                <option value="lte">Lesser than and equal to</option>
            </select>
            <input type="Number" id="age" placeholder="Type the age" name="age">
            <br>
            <button class="btn btn-primary">Filter</button>
        </form>
    </section>
    <section>

    </section>
    <br><br>
    Blue - Highest salary <br>
    Yellow - Least salary<br><br>
    <table id="employees">
        <thead id="header">
            <tr>
                <th>SSN</th>
                <th>Employee Name</th>
                <th>D.O.B.</th>
                <th>Age</th>
                <th>Email ID</th>
                <th>Position</th>
                <th>Address</th>
                <th>Salary in (&#8377)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%for(employee of employees){%>
                <% if(employee.position==='Team Leader') {%>
                    <tr id="max">
                        <td><%= employee.ssn %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.dob %></td>
                        <td><%= 2022 - employee.dob.getFullYear() %></td>
                        <td><%= employee.email %></td>
                        <td><%= employee.position %></td>
                        <td><%= employee.address %></td>
                        <td><%= employee.salary %> </td>
                        <td><a href="/employees/edit/<%=employee.ssn%>">Edit</a></td>
                        <td><form action="/employees/<%=employee._id%>?_method=DELETE" method="POST"><button id="but">Delete</button></form></td>
                    </tr>
                    <% } else if(employee.ssn===minEmp[0]._doc.ssn){%> 
                <tr id="min">
                    <td><%= employee.ssn %></td>
                    <td><%= employee.name %></td>
                    <td><%= employee.dob %></td>
                    <td><%= 2022 - employee.dob.getFullYear() %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.position %></td>
                    <td><%= employee.address %></td>
                    <td><%= employee.salary %> </td>
                    <td><a href="/employees/edit/<%=employee.ssn%>">Edit</a></td>
                    <td><form action="/employees/<%=employee._id%>?_method=DELETE" method="POST"><button id="but">Delete</button></form></td>
                </tr>
                <% } else{%> 
                    <tr>
                        <td><%= employee.ssn %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.dob %></td>
                        <td><%= 2022 - employee.dob.getFullYear() %></td>
                        <td><%= employee.email %></td>
                        <td><%= employee.position %></td>
                        <td><%= employee.address %></td>
                        <td><%= employee.salary %> </td>
                        <td><a href="/employees/edit/<%=employee.ssn%>">Edit</a></td>
                        <td><div><form action="/employees/<%=employee._id%>?_method=DELETE" method="POST"><button id="but">Delete</button></form></td>
                    </tr>
                    <% } %> 
            <%}%>
        </tbody>
        <tfoot>
            <tr id="ftable">
                <td>Total:</td>
                <td><%= employees.length %> </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        </tfoot>
    </table>
    <br>